language: python
python:
  - "2.7"
# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt
  - python setup.py install
  - pip install coveralls  
# command to run tests
script:
  - python setup.py test
  - coverage run --source=src/pylstar setup.py test
after_success:
  - coveralls

